<!DOCTYPE html>
<html>

<head>
    <title>My Movie List</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        <%- include('../partials/header.ejs') %>
            <h3 style="color:rgb(26, 20, 114);">Movie</h3>
                <ul>
                   <% if(movies.length!=0){%>
                    <% for (let movie of movies){ %>
                    <li> <a class="listed" href=<%="/singlemovie/" + movie.Id%> >
                            <%=movie.Title%>

                        </a>
                    </li>
                    </ul>
                    <% } }%>
        <ul>
            <h3 style="color:rgb(26, 20, 114);">DIrector</h3>
                    <% if(directors.length!=0){%>
            <% console.log(directors)%>
                    <% for(let director of directors){%>
                    <p><%=director.Name%></p>
                        <% } }%>
                </ul>
            <ul>
                <%- include('../partials/listedAnimes.ejs') %>
            </ul>



            </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>