<!DOCTYPE html>
<html lang="en">

<head>

    <title> My Movie List</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
</head>

<body>

<div class="reviews">
    <%- include('../partials/header.ejs') %>



    <!--<p style="font-weight: bolder; color: rgb(64, 64, 124);">
        Reviews for
    </p>-->
    <div>

    </div>
    <div  style="padding-left: 40%">

        <button class="open-review btn btn-secondary my-2 my-sm-0" onclick="openReview()" style="background-color: #4e4ed3; color: black; margin-top: 30px"> Write/Edit review</button>
        <br>
        <br>

        <div class="review-edit" id="myReview">
            <form class="Review" method="post" action=<%="/review" %> >
                                    <textarea id="text" name="reviewContent" rows="5"
                                              cols="50"><%= userReviewContent %></textarea>
                <input type="hidden" name="username" value=<%=username %> >

                <br>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="background-color: #4e4ee5; margin-bottom: 20px; color: black"> Post </button>
            </form>
        </div>

        
    <% if(!allUserReview || allUserReview.length==0) { %>
            <p>No result found</p>
        <% } else { %>
            <% for (var i = 0; i < allUserReview.length; i++){ %>
                <ul style="font-size: large; font-family: cursive; color: black;">
                    <div class="card" style="width: 18rem; background-color: #4e4ed3; margin-left: 50px; margin-top: 10px;">
                        <div class="card-body">
                                <%= allUserReview[i].Review_id + ". " + allUserReview[i].Content%>
                        </div>
                    </div>
                    <button class="btn btn-secondary my-2 my-sm-0" style="color: black; background-color: #4e4ee5; margin-bottom: 10px; margin-left: 50px"> Nice! </button>
                    <button class="btn btn-secondary my-2 my-sm-0" style=" color: black; background-color: #4e4ee5; margin-bottom: 10px; margin-left: 155px"> Nope </button>
                </ul>
            <% } %>
        <% } %>
    </div>
</div>
<script>
    var a = 0;
    function openReview() {
        if (a == 1) {
            document.getElementById("myReview").style.display = "none";
            return a = 0;
        } else {
            document.getElementById("myReview").style.display = "block";
            return a = 1;
        }
    }
    var b = 0
    function openVoteForm() {
        if (b == 1) {
            document.getElementById("vote").style.display = "none";
            return b = 0;
        } else {
            document.getElementById("vote").style.display = "block";
            return b = 1;
        }
    }
    function removeReview() {
        return confirm("your review will be deleted");
    }
    document.getElementById("vote").addEventListener("click", vote);
    var a = 1;
    function vote() {
        if (a == 1) {
            document.getElementById("in").value = parseInt(document.getElementById("in").value) + 1;
            return a = 0;
        }
        else {
            document.getElementById("in").value = parseInt(document.getElementById("in").value) - 1;
            return a = 1;
        }
    }
</script>
<%- include('../partials/footer.ejs') %>
</body>

</html>